In [1]:
import numpy as np
import pandas as pd

In [2]:
frequency_data = pd.read_csv("frequency.csv")

In [3]:
frequency_data.head(255)

,data.pptx,books.txt,blue_book.pdf,file.docx,paintings.jpg,gray-photo.jpg,marbles.BMP,mystery.bmp,wmp.dll,program.exe,island.mp4
0,0.032372,0.0,0.009049,0.009219,0.007906,0.015146,0.087539,0.001188,0.135903,0.014504,0.050785
1,0.004306,0.0,0.003256,0.004221,0.003215,0.003498,0.000024,0.005588,0.009458,0.004519,0.009365
2,0.003745,0.0,0.003432,0.003633,0.002178,0.002163,0.000000,0.012607,0.004700,0.004529,0.005484
3,0.004542,0.0,0.003465,0.004411,0.004390,0.003268,0.000012,0.016535,0.004996,0.004339,0.004003
4,0.003622,0.0,0.003048,0.004083,0.003216,0.001818,0.000013,0.021021,0.008653,0.004399,0.004970
...,...,...,...,...,...,...,...,...,...,...,...
250,0.003603,0.0,0.004913,0.003642,0.004839,0.003154,0.001067,0.000468,0.001306,0.003777,0.003110
251,0.003792,0.0,0.004560,0.003748,0.003320,0.007975,0.000500,0.000323,0.001758,0.003892,0.003101
252,0.003660,0.0,0.005789,0.004177,0.004206,0.007332,0.000201,0.000254,0.007074,0.003907,0.003029
253,0.003714,0.0,0.005433,0.003667,0.003494,0.006449,0.001051,0.000128,0.002216,0.003732,0.003193
254,0.003542,0.0,0.005860,0.003976,0.003549,0.008231,0.000583,0.000052,0.002613,0.003876,0.002938

In [4]:
overall_data = pd.read_csv("overall.csv")

In [5]:
overall_data.head()

,S1,H,SF_S2,SF_K,SF_TU,SF_TP,LZ77_5_S2,LZ77_5_K,LZ77_5_TU,LZ77_5_TP,...,LZ77_10_TU,LZ77_10_TP,LZ77_20_S2,LZ77_20_K,LZ77_20_TU,LZ77_20_TP,LZW_S2,LZW_K,LZW_TU,LZW_TP
0,-344083,0,4548.54,-0.013219,8.9271,9.39219,8325.85,-0.024197,124.842,101.642,...,9.02993,241.313,8273.86,-0.024046,8.76153,305.547,8076.54,-0.023473,19.1882,18.0131